@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @Html.ActionLink("VPN Tracker", "", "VPNTracker")
    @Html.ActionLink("Event Data", "", "Event")
    @Html.ActionLink("Customer", "", "Customer")
    @Html.ActionLink("Import Excel", "", "ImportExcel")
</div>

