<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
  <add name="myConnectionString" connectionString="Data Source=v-gynamp;Initial Catalog=ISW;User ID=isw;Password=B!ztalkWave2016;Connection Timeout=60000;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>