
@{
    ViewBag.Title = "ImportData";
}

<h2>ImportData</h2>
<p style="text-align: right;">
    @Html.ActionLink("Dashboard", "", "Event")
</p>
<div class="row" width:"50%">
    <div class="col-md-4">
        @using (Html.BeginForm("Import", "ImportExcel", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <p style="text-align: center;">
                Select excel file to Import : <input type="file" name="uploadFile" />
            </p>
            <p style="text-align: center;"><input style="align-items:center" type="submit" value="OK" /></p>
            <p style="text-align: center;"><span><b>@ViewBag.ErrorMessage</b></span></p>
        }
    </div>
</div>